<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
  <title>Document</title>
</head>

<body class="h-full bg-pagina">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <div class="w-full flex justify-center p-7">
      <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75 " alt="">
    </div>
    <form action="/faltas/pesquisar" method="POST"
      class="bg-card w-full sm:w-1/2 h-auto rounded-3xl flex flex-col justify-between items-center">
      <div class="border-b-2 border-linhaFora w-full">
        <h1 class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center">
          Pesquisar Faltas
        </h1>
      </div>
      <div class="w-full grid grid-cols-1 justify-items-center items-center">
        <label for="falta" class="w-full sm:w-3/4 font-opens font-bold text-xl">Falta:</label>
        <select id="falta" name="falta"
          class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm">
          <option value="0" selected>Sim</option>
          <option value="1">Não</option>
        </select>


        <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Conteudo do plano de aula:</label>
        <div class="autocomplete-container">
          <input list="nomes-datalist-conteudo" id="nome_conteudo" name="nome_conteudo"
            class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
            placeholder="Digite o conteúdo do plano de aula">
          <div id="autocompleteContainer" class="autocomplete-suggestions hidden" name="faltas"></div>
        </div>
        <input list="nomes-datalist-conteudo" type="hidden" id="valor-id-conteudo" name="id_conteudo_hidden" value="">


        <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Nome do Inscrito:</label>
        <div class="autocomplete-container">
          <input list="nomes-datalist-inscrito" id="nome_inscrito" name="nome_inscrito"
            class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
            placeholder="Digite o nome da turma">
          <div id="autocompleteContainer" class="autocomplete-suggestions hidden" name="inscrito"></div>
        </div>
        <input list="nomes-datalist-inscrito" type="hidden" id="valor-id-inscrito" name="id_inscrito_hidden" value="">

        <div class="grid grid-cols-1 justify-items-center items-center mt-3">
          <input type="submit" value="Pesquisar"
            class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
        </div>

        <div class="grid grid-cols-3 justify-items-center items-end ">
          <a href="/professores/pesquisar"
            class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Visualizar
            professores</a>
          <a href="/" class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
          <a href="javascript:history.back()"
            class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
        </div>
      </div>
    </form>
  </div>


  <div id="customAlert"
    class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
      <h2 class="text-2xl font-bold mb-4 font-opens">Prencha os campos com valores válidos.</h2>
      <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
    </div>
  </div>







  <script>

      let nome_conteudo = document.getElementById('nome_conteudo');
         nome_conteudo.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z\s]/g, "");
            event.target.value = valoresFiltrados;
        });
      let nome_inscrito = document.getElementById('nome_inscrito');
         nome_inscrito.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z\s]/g, "");
            event.target.value = valoresFiltrados;
        });
    document.querySelector('form').addEventListener('submit', (ev) => {
      if (Number(id_inscrito.value) == 0 && Number(id_conteudo.value) == 0) {
        document.getElementById('customAlert').classList.remove('hidden');
        ev.preventDefault();
      }
      document.getElementById('closeDialogBtn').addEventListener('click', function () {
        document.getElementById('customAlert').classList.add('hidden');
      });
    })

    let sugestoesContainer = document.querySelectorAll("#autocompleteContainer");
    let sugestoesContainerInscrito = sugestoesContainer[1]
    let sugestoesContainerConteudo = sugestoesContainer[0]

    let id_inscrito = document.getElementById("valor-id-inscrito")
    document.getElementById("nome_inscrito").addEventListener("input", function () {
      let nome = this.value.trim();
      if (nome.length >= 4) {
        sugestoesContainerInscrito.querySelectorAll('div').forEach(div => div.remove())
        id_inscrito.value = ''
        fetch("/faltas/nome/matriculado?nome=\"" + nome + "\"", { // Correção da URL
          method: "POST", // Correção do método de solicitação
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ nome: nome })
        })
          .then(response => response.json())
          .then(sugestoes => {
            console.log(sugestoes)
            if (sugestoes.length) {
              sugestoesContainerInscrito.classList.remove('hidden')
              sugestoes.forEach(name => {
                const divSugestaoNome = document.createElement('div')
                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                divSugestaoNome.textContent = name[1]
                divSugestaoNome.onclick = () => {
                  document.getElementById('nome_inscrito').value = name[1]
                  id_inscrito.value = name[0]
                  sugestoesContainerInscrito.innerHTML = ''
                  sugestoesContainerInscrito.classList.add('hidden')
                }
                sugestoesContainerInscrito.appendChild(divSugestaoNome)
              })
            } else {
              sugestoesContainerInscrito.classList.add('hidden')
            }


          })
          .catch(error => {
            console.error("Erro ao obter sugestões de pessoas:", error);
          });


      } else {
        sugestoesContainerInscrito.querySelectorAll('div').forEach(div => div.remove())
        id_inscrito.value = ''
      }
    });


    let id_conteudo = document.getElementById("valor-id-conteudo")
    document.getElementById("nome_conteudo").addEventListener("input", function () {
      let nome = this.value.trim();
      if (nome.length >= 4) {
        sugestoesContainerConteudo.querySelectorAll('div').forEach(div => div.remove())
        id_conteudo.value = ''
        fetch("/pesquisar-nome-conteudo?nome=\"" + nome + "\"", { // Correção da URL
          method: "POST", // Correção do método de solicitação
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ nome: nome })
        })
          .then(response => response.json())
          .then(sugestoes => {
            console.log(sugestoes)
            if (sugestoes.length) {
              sugestoesContainerConteudo.classList.remove('hidden')
              sugestoes.forEach(name => {
                const divSugestaoNome = document.createElement('div')
                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                divSugestaoNome.textContent = name[0]
                divSugestaoNome.onclick = () => {
                  document.getElementById('nome_conteudo').value = name[0]
                  id_conteudo.value = name[1]
                  sugestoesContainerConteudo.innerHTML = ''
                  sugestoesContainerConteudo.classList.add('hidden')
                }
                sugestoesContainerConteudo.appendChild(divSugestaoNome)
              })
            } else {
              sugestoesContainerConteudo.classList.add('hidden')
            }
          })
          .catch(error => {
            console.error("Erro ao obter sugestões de pessoas:", error);
          });


      } else {
        sugestoesContainerConteudo.querySelectorAll('div').forEach(div => div.remove())
        id_conteudo.value = ''
      }
    });
  </script>
</body>

</html>