<!DOCTYPE html>
<html lang="pt-br" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>Formulário de Adição de Turma</title>
</head>

<body class="h-full bg-pagina">
    <div class="w-full h-auto flex flex-col justify-center items-center overflow-y-auto">
        <div class="w-full flex justify-center p-7">
            <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75 " alt="">
        </div>
        <form action="/turmas/form" class="bg-card w-full  sm:w-1/2 h-auto rounded-3xl flex flex-col items-center"
            method="POST">
            <div class="border-b-2 border-linhaFora w-full">
                <h1 class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center">
                    Adicionar Turma</h1>
            </div>
            <div class="w-full   grid  grid-cols-1 justify-items-center items-center ">
                <label for="nome" class="w-full sm:w-3/4 font-opens font-bold text-xl">Nome:</label>
                <input type="text" id="nome" name="nome"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                    placeholder="Nome da Turma">
                <label for="descricao" class="w-full sm:w-3/4 font-opens font-bold text-xl">Descrição:</label>
                <textarea id="descricao" name="descricao"
                    class="w-full sm:w-3/4 h-56 resize-none p-5   bg-bg_input font-opens rounded-md border-b-2 text-start border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                    placeholder="Descrição da turma"></textarea>
                <label for="capacidade" class="w-full sm:w-3/4 font-opens font-bold text-xl">Capacidade:</label>
                <input type="number" id="capacidade" name="capacidade"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                    placeholder="Número de vagas na sala">
                <label for="data_inicio" class="w-full sm:w-3/4 font-opens font-bold text-xl">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                <label for="data_fim" class="w-full sm:w-3/4 font-opens font-bold text-xl">Data de Término:</label>
                <input type="date" id="data_fim" name="data_fim"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                <label for="id_curso" class="w-full sm:w-3/4 font-opens font-bold text-xl">Curso:</label>
                <select id="id_curso" name="id_curso"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                    {% for curso in cursos %}
                    <option value="{{ curso.id }}">{{ curso.nome }}</option>
                    {% endfor %}
                </select>
                <div class="grid grid-cols-1 justify-items-center items-center mt-3">
                    <input type="submit" value="Adicionar" id="btn-adicionar"
                        class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
                </div>
            </div>


            <div class="grid grid-cols-3 justify-items-center items-end ">
                <a href="/cursos/pesquisar"
                    class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Pesquisar</a>
                <a href="/"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
                <a href="javascript:history.back()"
                    class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
            </div>
        </form>

    </div>

    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Prencha o Campo com um valor válido.</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

    <div id="customAlertSuccess"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Cadastro realizado com sucesso!</h2>
            <button id="closeDialogBtnSucces" class="px-4 py-2 bg-green-500 text-white rounded">Fechar</button>
        </div>

    </div>



    <script>
        let form = document.querySelector('form');
        let customAlertSucces = document.getElementById('customAlertSucces');
        let closeDialogBtnSucces = document.getElementById('closeDialogBtnSucces');
        let nome_turma = document.getElementById('nome');
        let descricao_turma = document.getElementById('descricao');
        let inicio_turma = document.getElementById('data_inicio');
        let fim_turma = document.getElementById('data_fim');

        console.log(fim_turma.value.length)

        nome_turma.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z\s]/g, "");
            event.target.value = valoresFiltrados;
        });
        inicio_turma.addEventListener('input', (event) => {
            console.log(event.target.value.length)
        });
        descricao_turma.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z0-9\s]/g, "");
            event.target.value = valoresFiltrados;
        });

        form.addEventListener('submit', (ev) => {
            if (nome_turma.value == "" || descricao_turma.value == "" || inicio_turma.value.length !== 10 || fim_turma.value.length !== 10) {
                document.getElementById('customAlert').classList.remove('hidden')
                ev.preventDefault()
            }
            document.getElementById('closeDialogBtn').addEventListener('click', function () {
                document.getElementById('customAlert').classList.add('hidden');
            });
        })

        window.onload = function () {
            let mensagem = "{{ mensagem }}";
            console.log(mensagem)
            if (mensagem == 'True') {
                document.getElementById('customAlertSuccess').classList.remove('hidden');
                document.getElementById('closeDialogBtnSucces').addEventListener('click', function () {
                    document.getElementById('customAlertSuccess').classList.add('hidden');
                    window.location.href = '/turmas/pesquisar'

                });
            }
        }

      
        
    </script>

</body>

</html>