<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <h1>Editar Valores Pessoa</h1>
  <form action="" method="post">
      <label for="nome">Nome:</label><br>
      <input type="text" id="new_nome" name="new_nome" placeholder="Campo obrigatorio"><br>
      <label for="cpf">CPF:</label><br>
      <input type="text" id="new_cpf" name="new_cpf" maxlength="11" minlength="11"  placeholder="Campo obrigatorio"><br>
      <label for="data_nasc">Data de Nascimento:</label><br>
      <input type="date" id="new_data_nasc" name="new_data_nasc" placeholder="Campo obrigatorio"><br>
      <label for="endereco">Endereço:</label><br>
      <input type="text" id="new_endereco" name="new_endereco" placeholder="Campo obrigatorio"><br>
      <label for="sexo">Sexo:</label><br>
      <label for="nome_social">Nome Social:</label><br>
      <input type="text" id="new_nome_social" name="new_nome_social" placeholder="Campo opcional"><br><br>
      <input type="submit" value="Adicionar Pessoa" id="new_btn-adicionar">
  </form>

  <script>
        let input = document.getElementById('new_cpf')
        input.addEventListener('input', (event)=>{   
        let valoresFiltrados= event.target.value.replace(/[\sa-zA-Z]/g,"")
        event.target.value = valoresFiltrados
    })

    let name = document.getElementById('new_nome')
        name.addEventListener('input', (event)=>{
        let valoresFiltrados= event.target.value.replace(/[\s0-9]/g, "")
        event.target.value = valoresFiltrados
    })


    let camposObrigatorios = document.querySelectorAll('input')
    let botaoEnviar = document.getElementById('new_btn-adicionar')
    let array = []
    botaoEnviar.addEventListener('click',(ev)=>{
        camposObrigatorios.forEach((el=>{
            console.log(el.value)
            if(el.value !== '' && el.id !== 'new_btn-adicionar' && el.id !=='new_nome_social'){
                console.log(el)
                array.push(el)
            }
        }))
        if(array.length == 4){
            alert('Dados enviados com sucesso')
           
        }else{
            alert('Verifique se todos os campos estão preenchidos') 
            ev.preventDefault()
        }
        array = []
    })
  </script>
</body>
</html>