<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>

    
</head>

<body>
    <h1>Editar secretaria</h1>

    <form action="" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="new_nome_secretaria" name="new_nome_secretaria" value=""><br><br>
        <input type="submit" value="Salvar Alterações" id="enviar">
    </form>

    <a href="/secretarias">Visualizar secretarias</a> <br>
    <a href="/">Menu</a> <br>
    <a href="javascript:history.back()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">Voltar</a>
</body>
<script>
    let form = document.querySelector('form')
    let input = document.querySelector('input')
    console.log(form)
    form.addEventListener('submit', (ev) => {
        if (input.value == '') {
            ev.preventDefault()
            alert('Os valores estão vazios')
        } else {
            alert('Alteração realizada com sucesso')
        }
        return

    })
</script>

</html>