<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Secretarias</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Secretarias</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Criado em</th>
                <th>Modificado em</th>
                <th>Criado por</th>
                <th>Modificado por</th>
                <th>Ativo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for secretaria in secretarias %}
            <tr>
                <td style="display: none;" id="1">{{secretaria.id}}</td>
                <td>{{ secretaria.nome }}</td>
                <td>{{ secretaria.criado_em }}</td>
                <td>{{ secretaria.modificado_em }}</td>
                <td>{{ secretaria.criado_por }}</td>
                <td>{{ secretaria.modificado_por }}</td>
                <td>{{ secretaria.ativo_flag}}</td>
                <td><a href="/editar-valores-secretarias/{{ secretaria.id }}">Editar</a></td>
                <td><a class="deleteButton" data-secretaria-id="{{ secretaria.id }}" href="#">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/secretarias-form">Adicionar Secretaria</a> <br>
    <a href="javascript:history.back()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">Voltar</a>

    <script>
        // Captura todos os elementos com a classe deleteButton
        let deleteButtons = document.querySelectorAll('.deleteButton');
        
        
        // Itera sobre todos os botões
        deleteButtons.forEach(function(button) {
          // Adiciona um evento de clique a cada botão
          button.addEventListener('click', function(event) {
            // Impede o comportamento padrão do link
            event.preventDefault();

            let confirmarExclusao = confirm('Deseja relamente excluir esse valor')
            if(confirmarExclusao){
               // Pega o ID da secretaria do atributo 'data-secretaria-id' do botão clicado
            let secretariaId = this.getAttribute('data-secretaria-id');
            // Envia o ID da secretaria para o servidor Flask
            fetch('/excluir-secretaria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({secretaria_id: secretariaId})
            }).then(response => {
                // Lida com a resposta do servidor, se necessário
                console.log(response)
                alert('Secretaria excluida com sucesso')
                // Voltando para o início
                window.location.href = '/';
            }).catch(error => {
                console.error('Erro ao excluir secretaria:', error);
            });
            }else{
              console.log('exclusão cancelada')
            }
           
          });
        });
   
 
   
    </script>
</body>
</html>
