<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Secretarias</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Secretarias</h1>
    <table>
        <thead>
            <tr>
         
                <th>Nome</th>
                <th>Criado em</th>
                <th>Modificado em</th>
                <th>Criado por</th>
                <th>Modificado por</th>
                <th>Ativo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for secretaria in secretarias %}
            <tr>
                <td style="display: none;">{{secretaria.id}}</td>
                <td>{{ secretaria.nome }}</td>
                <td>{{ secretaria.criado_em }}</td>
                <td>{{ secretaria.modificado_em }}</td>
                <td>{{ secretaria.criado_por }}</td>
                <td>{{ secretaria.modificado_por }}</td>
                <td>{{ secretaria.ativo_flag}}</td>
                <td><a href="/editar-valores-secretarias/{{ secretaria.id }}">Editar</a></td>
                <td><a class="deleteButton" data-secretaria-id="{{ secretaria.id }}" href="#">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        
        // Captura todos os elementos com a classe deleteButton
    let deleteButtons = document.querySelectorAll('.deleteButton');
    // Itera sobre todos os botões
    deleteButtons.forEach(function(button) {
      // Adiciona um evento de clique a cada botão
      button.addEventListener('click', function(event) {
        // Impede o comportamento padrão do link
        event.preventDefault();
        // Pega o ID da secretaria do atributo 'data-secretaria-id' do botão clicado
        let secretariaId = this.getAttribute('data-secretaria-id');
        // Pergunta se o usuário tem certeza de que quer excluir
        let confirmacao = confirm("Tem certeza de que deseja excluir esta secretaria?");
        // Se o usuário confirmar, você pode prosseguir com a exclusão
        if (confirmacao) {
          // Faz uma requisição AJAX para a rota Flask '/excluir-secretaria'
          let xhr = new XMLHttpRequest();
          xhr.open('POST', '/excluir-secretaria');
          console.log
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onload = function() {
            if (xhr.status === 200) {
              // Aqui você pode fazer algo após a exclusão ser bem-sucedida
              console.log(xhr.responseText);
            } else {
              // Aqui você pode lidar com erros, se houver
              console.error('Erro ao excluir secretaria:', xhr.status);
            }
          };
          // Envia o ID da secretaria como dados JSON na requisição
          xhr.send(JSON.stringify({secretaria_id: secretariaId}));
        } else {
          // Caso o usuário cancele, você pode realizar alguma outra ação ou não fazer nada
          console.log("Exclusão cancelada");
        }
      });
    });
    </script>
</body>
</html>
