<!DOCTYPE html>
<html lang="pt-br">
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Aluno</title>

    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>



<body class="h-full bg-pagina">
    <div class="flex justify-center p-10 ">
        <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75" alt="">
    </div>
    <div class=" flex justify-center items-top h-full pb-10">
        <div class="sm:w-4/5  md:w-1/2 bg-card h-3/4 flex flex-col rounded-2xl ">
            <div class="p-8 text-center border-b-2 border-linhaFora">
                <h1 class="text-3xl font-opens font-bold text-adc ">ADICIONAR NOVO ALUNO</h1>
            </div>
            <form action="/alunos-envio" method="POST" class="bg-card">
                <div class=" md:w-full border-t-2 border-linhaDiv pt-9 ">
                    <label for="ra" class="font-opens font-bold w-4 text-xl md:ml-48 ">RA:</label><br>

                    <div class="text-center pb-4">
                        <input type="text" id="ra" name="ra" maxlength="6"
                            class="w-2/4  h-12 rounded-md border-b-2  bg-bg_input  font-opens border-linhaForm text-center  focus:outline-none focus:ring focus:ring-linhaForm"
                            placeholder="Informe o RA do aluno"><br>
                    </div>
                    <label for="status" class="font-opens font-bold w-4 text-xl ml-48 ">Status:</label>
                    <div class="text-center pb-2 ">
                        <select id="status" name="status"
                            class="w-2/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm  focus:outline-none focus:ring focus:ring-linhaForm">
                            <option value="1" selected class="font-opens">Ativo</option>
                            <option value="0" class="font-opens">Inativo</option>
                        </select><br><br>
                    </div>
                    <label for="id_pessoa" class="font-opens font-bold w-4 text-xl ml-48">Pessoa:</label>
                    <div class="text-center pb-4">
                        <input list="nomes-datalist" id="nomes"
                            class="w-2/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                            placeholder="Pesquisar por pessoa cadastrada">
                        <input list="nomes-datalist" type="hidden" id="valor-id-pessoa" name="id_pessoa_hidden"
                            value="">
                        <datalist id="nomes-datalist"> </datalist>
                    </div>
                    <label for="id_secretaria " class="font-opens font-bold w-4 text-xl ml-48">Secretaria:</label>
                    <div class="text-center pb-4">
                        <select id="id_secretaria" name="id_secretaria"
                            class="w-2/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                            {% for secretaria in secretarias %}
                            <option value="{{ secretaria.id }}">{{ secretaria.nome }}</option>
                            {% endfor %}
                        </select><br><br>
                        <input type="submit" value="Adicionar Aluno" class=" rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12
                         pl-5 pr-5  hover:bg-blue-700 hover:cursor-pointer">
                    </div>
                </div>
            </form>
            <div class=" flex flex-row  justify-center bg-card items-center pt-9  ">
                <a href="/alunos-pesquisa"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center ">Pesquisar alunos</a>
                <a href="/" class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 w-36 text-center">Menu</a>
                <a href="javascript:history.back()"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 w-36 text-center">Voltar</a>
            </div>
        </div>
    </div>
    <div></div>
    <div id="customAlert" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Para cadastrar um aluno, todos os campos devem ser
                preenchidos.</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

</body>





<script>

    let input = document.getElementById('ra')
    input.addEventListener('input', (event) => {
        let input = event.target.value
        if (isNaN(input)) {
            event.target.value = input.slice(0, 0)
        }
    })

    let id_pessoa_input = document.getElementById("valor-id-pessoa")

    document.querySelector('form').addEventListener('submit', (ev) => {
        console.log('click')
        let nome = document.getElementById('nomes').value
        let ra = document.getElementById('ra').value
        console.log(typeof nome)
        console.log(ra)

        if (nome && ra != '') {
        }
        else {
            document.getElementById('customAlert').classList.remove('hidden')
            ev.preventDefault()
        }

        document.getElementById('closeDialogBtn').addEventListener('click', function () {
            document.getElementById('customAlert').classList.add('hidden');
        });
    })

    //Lógica para mostrar uma lista com sugestões de nomes próximos ao valor que está sendo inserido no input
    let id_pessoa_hidden = document.getElementById("valor-id-pessoa")
    document.getElementById("nomes").addEventListener("input", function () {
        let nome = this.value.trim();

        console.log(nome);
        if (nome.length >= 4) {
            fetch("/nomes-proximos?nome=\"" + nome + "\"", { // Correção da URL
                method: "POST", // Correção do método de solicitação
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ nome: nome })
            })
                .then(response => response.json())
                .then(sugestoes => {
                    let sugestoesTurmas = document.getElementById("nomes-datalist");
                    let valoresUnicosTurmas = {};

                    // Limpar sugestões anteriores
                    sugestoes.forEach(function (sugestao) {
                        let nomeTurma = sugestao[1];
                        let idTurma = sugestao[0];
                        valoresUnicosTurmas[nomeTurma] = idTurma;
                    });

                    // Limpar sugestões anteriores no datalist
                    sugestoesTurmas.innerHTML = '';

                    // Adicionar as opções únicas ao datalist
                    for (let nomeTurma in valoresUnicosTurmas) {
                        let sugestaoElemento = document.createElement("option");
                        sugestaoElemento.value = nomeTurma;
                        sugestoesTurmas.appendChild(sugestaoElemento);
                        id_pessoa_hidden.value = valoresUnicosTurmas[nomeTurma];
                    }
                })
                .catch(error => {
                    console.error("Erro ao obter sugestões de pessoas:", error);
                });


        } else {
            console.log('Valor não encontrado')
        }
    });

</script>


</body>

</html>