<!DOCTYPE html>
<html lang="pt-br">
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Aluno</title>

    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>



<body class="h-full bg-pagina">
    <div class="w-full h-full flex flex-col justify-center items-center overflow-auto">
        <div class="w-full flex justify-center py-5 ">
            <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75" alt="">
        </div>
        <form action="/alunos/form" method="POST"
            class="bg-card w-full sm:w-1/2 h-auto rounded-3xl flex flex-col justify-between items-center">
            <div class=" md:w-full border-t-2pt-9 ">
                <div class="border-b-2 border-linhaFora w-full">
                    <h1
                        class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center ">
                        ADICIONAR NOVO ALUNO
                    </h1>
                </div>

                <div class="w-full grid grid-cols-1 justify-items-center items-center">
                    <label for="ra" class="w-full sm:w-3/4 font-opens font-bold text-xl">RA:</label>
                    <input type="text" id="ra" name="ra" maxlength="6"
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                        placeholder="Informe o RA do aluno">

                    <label for="status" class="w-full sm:w-3/4 font-opens font-bold text-xl">Status:</label>
                    <select id="status" name="status"
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                        <option value="1" selected class="font-opens">Ativo</option>
                        <option value="0" class="font-opens">Inativo</option>
                    </select>

                    <label for="id_pessoa" class="w-full sm:w-3/4 font-opens font-bold text-xl">Pessoa:</label>
                    <div class="autocomplete-container">
                        <input  id="nomes"
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                        placeholder="Pesquisar por pessoa cadastrada">
                        <div id="autocompleteContainer" class="autocomplete-suggestions hidden "></div>
                    </div>
                    <input list="nomes-datalist" type="hidden" id="valor-id-pessoa" name="id_pessoa_hidden" value="">

                    <label for="id_secretaria " class="w-full sm:w-3/4 font-opens font-bold text-xl">Secretaria:</label>
                    <select id="id_secretaria" name="id_secretaria"
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm">
                        {% for secretaria in secretarias %}
                        <option value="{{ secretaria.id }}">{{ secretaria.nome }}</option>
                        {% endfor %}
                    </select><br><br>
                    <input type="submit" value="Adicionar Aluno"
                        class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
                </div>
            </div>
            <div class="grid grid-cols-3 justify-items-center items-end ">
                <a href="/alunos/pesquisar"
                    class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Visualizar
                    alunos</a>
                <a href="/"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
                <a href="javascript:history.back()"
                    class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
            </div>
        </form>
    </div>
    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Para cadastrar um aluno, todos os campos devem ser
                preenchidos. Verifique se no campo pessoa, você selecionou um dos nomes, ou se o RA contém 6 digitos. </h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

    <div id="customAlertSuccess"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Aluno Adicionado com sucesso!</h2>
            <button id="closeDialogBtnSucces" class="px-4 py-2 bg-green-500 text-white rounded">Fechar</button>
        </div>

    </div>

</body>





<script>
    let ra = document.getElementById('ra')
    ra.addEventListener('input', (event) => {
        let valoresFiltrados = event.target.value.replace(/[^0-9]/, "");
        event.target.value = valoresFiltrados
    })


    let form = document.querySelector('form');
    let customAlertSucces = document.getElementById('customAlertSucces');
    let closeDialogBtnSucces = document.getElementById('closeDialogBtnSucces');


    let id_pessoa_input = document.getElementById("valor-id-pessoa")

 

    

    form.addEventListener('submit', (ev) => {
        let nome = document.getElementById('nomes').value
        let valor_id_pessoa = Number(id_pessoa_input.value)
        let ra = document.getElementById('ra').value
        if (nome == '' || ra == '' || ra.length != 6 || valor_id_pessoa == 0) {
            document.getElementById('customAlert').classList.remove('hidden')
            ev.preventDefault()
        }
        document.getElementById('closeDialogBtn').addEventListener('click', function () {
            document.getElementById('customAlert').classList.add('hidden');
        });
    })

    window.onload = function () {
        let mensagem = "{{ mensagem }}";
        console.log(mensagem)
        if (mensagem == 'True') {
            document.getElementById('customAlertSuccess').classList.remove('hidden');
            document.getElementById('closeDialogBtnSucces').addEventListener('click', function () {
                document.getElementById('customAlertSuccess').classList.add('hidden');
                window.location.href = '/alunos/form'

            });
        }
    }

    //Lógica para mostrar uma lista com sugestões de nomes próximos ao valor que está sendo inserido no input
    let id_pessoa_hidden = document.getElementById("valor-id-pessoa")
    let sugestoesContainer = document.getElementById("autocompleteContainer");
    document.getElementById("nomes").addEventListener("input", function () {
        let nome = this.value.trim();
        if (nome.length >= 4) {
            let container = document.getElementById("autocompleteContainer")
            container.querySelectorAll('div').forEach(div=>div.remove())
            id_pessoa_hidden.value = ''
            fetch("/professor/nome?nome=\"" + nome + "\"", { // Correção da URL
                method: "POST", // Correção do método de solicitação
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ nome: nome })
            })
                .then(response => response.json())
                .then(sugestoes => {
                    if(sugestoes.length){
                        sugestoesContainer.classList.remove('hidden')
                        sugestoes.forEach(name=>{
                            const divSugestaoNome = document.createElement('div')
                            divSugestaoNome.classList.add('autocomplete-suggestion','w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens' ,'text-black', 'border-b-2', 'border-gray-300') 
                            divSugestaoNome.textContent = name[1]
                            divSugestaoNome.onclick= ()=>{
                                document.getElementById('nomes').value = name[1]
                                id_pessoa_hidden.value = name[0]
                                sugestoesContainer.innerHTML = ''
                                sugestoesContainer.classList.add('hidden')
                            }
                            sugestoesContainer.appendChild(divSugestaoNome)
                        })
                    }else{
                        sugestoesContainer.classList.add('hidden')
                    }
                })
                .catch(error => {
                    console.error("Erro ao obter sugestões de pessoas:", error);
                });



        } else {
            sugestoesContainer.classList.add('hidden');
            let container = document.getElementById("autocompleteContainer")
            container.querySelectorAll('div').forEach(div=>div.remove())
            id_pessoa_hidden.value = ''
        }
    });




</script>


</body>

</html>