<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
</head>
<body>
    <h1>Editar Aluno</h1>

    <form action="" method="POST">
        
        <label for="nome">Nome:</label><br>
        <input type="text" id="new_nome" name="new_nome" ><br><br>
        
        <label for="ra">RA:</label><br>
        <input type="text" id="new_ra" name="new_ra" maxlength="6" > <br><br>
        
        <label for="cpf">CPF:</label><br>
        <input type="text" id="new_cpf" name="new_cpf" maxlength="11" > <br><br>
        
        <label for="data_nasc">Data de Nascimento:</label><br>
        <input type="date" id="new_data_nasc" name="new_data_nasc"><br><br>
        
        <input type="submit" value="Salvar Alterações">
        
    </form>


    
    <a href="/">Menu</a> <br>
    <a href="javascript:history.back()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">Voltar</a>


    <script>
        document.getElementById('new_ra').addEventListener('input', (event)=>{
        let input = event.target.value   
        if(isNaN(input)){
            event.target.value = input.slice(0,0)
        }
    })
     document.getElementById('new_cpf').addEventListener('input', (event)=>{
        let input = event.target.value   
        if(isNaN(input)){
            event.target.value = input.slice(0,0)
        }
    })

    document.querySelector('form').addEventListener('submit', (ev)=>{
            console.log('click')
            let nome = document.getElementById('new_nome').value
            let cpf = document.getElementById('new_cpf').value
            let ra = document.getElementById('new_ra').value
            let data = document.getElementById('new_data_nasc').value
            console.log(typeof data)
           
            if(nome && ra && cpf && data  != ''){
                alert('Valores enviados com sucesso')
            }
            else{
                ev.preventDefault()
                alert('Os campos precisam ser preenchidos')
            }
        })
    </script>
  
</body>
</html>