<!DOCTYPE html>
<html lang="pt-br" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>

<body class="h-full bg-pagina">
    <div class="flex flex-col justify-center h-full items-center w-full">
        <div class="flex justify-center p-5">
            <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75" alt="">
        </div>

        <div
            class="overflow-auto scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200  bg-card w-full h-auto sm:h-auto sm:w-10/12 p-5 rounded-3xl">
            <h1 class="text-3xl p-7 font-opens font-bold text-adc">Resultado da Pesquisa</h1>
            <div class="overflow-auto ">
                <table class="w-full  sm:h-auto bg-fundoTabela">
                    <thead class="hidden md:block">
                        <tr class=" sm:grid sm:grid-cols-6 gap-0 ">
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1">Nome</th>
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1">RA</th>
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1"> CPF</th>
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1">Data de Nascimento
                            </th>
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1">Editar</th>
                            <th class="text-adc text-start border-l-2 border-linhaForm mb-2  pl-1">Excluir</th>
                        </tr>
                    </thead>
                    <tbody class="h-auto">
                        {% for aluno in alunos %}

                        <tr class="flex w-full sm:grid sm:grid-cols-6 gap-0">
                            <td
                                class="h-auto w-52 sm:w-full  break-words  border-2 font-opens text-sm p-4  border-coresLinhas  text-center flex items-center">
                                <div class="h-auto w-full">
                                    {{ aluno.nome }}
                                </div>
                              </td>
                            <td
                                class="h-auto w-52 sm:w-full  break-words  border-2 font-opens text-sm p-4  border-coresLinhas text-center flex items-center">
                                <div class="h-full w-full flex items-center justify-center">
                                    {{ aluno.ra }}
                                </div>
                              </td>
                            <td
                                class="h-auto w-52 sm:w-full  break-words border-2 font-opens text-sm p-4  border-coresLinhas text-center flex items-center">
                                <div class="h-full w-full flex items-center justify-center">
                                    {{ aluno.cpf }}
                                </div>  
                            </td>
                            <td
                                class="h-auto w-52 sm:w-full  break-words border-2 font-opens text-sm p-4  border-coresLinhas text-center flex items-center">
                                <div class="h-full w-full flex items-center justify-center">
                                    {{ aluno.data_nasc }}
                                </div>    
                            </td>
                            <td
                                class="h-auto w-52 sm:w-full border-2 font-opens text-sm p-4  border-coresLinhas text-center flex items-center justify-center">
                                <a href="/alunos/editar/alunos/{{ aluno.aluno_id}}/{{aluno.pessoa_id}}">
                                    <img src="../../static/img/IconeEditar.png"  alt="">
                                </a>
                            </td>
                            <td
                                class="h-auto w-52 border-2 font-opens text-sm p-4  border-coresLinhas text-center flex items-center justify-center">
                                <a class="deleteButton" data-aluno-id="{{ aluno.aluno_id }}" href="#">
                                    <img src="../../static/img/IconeLixeira.png" alt="">
                                </a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
             <div class="mt-10 flex w-full items-end justify-center sm:static sm:grid-cols-1  sm:justify-end">
                <div class="flex justify-between  w-auto sm:flex sm:flex-row sm:w-auto  sm:justify-end sm:p-4">
                    <a href="/"
                        class="bg-adc hover:bg-blue-700 text-white font-bold py-2  px-5 mx-3 rounded  text-center">Menu</a>
                    <br>
                    <a href="/alunos/form"
                        class="bg-adc  hover:bg-blue-700 text-white font-bold py-2 px-5 mx-3  rounded  text-center">Adicionar
                    </a> <br>
                    <a href="javascript:history.back()"
                        class="bg-adc hover:bg-blue-700 text-white font-bold py-2  px-5 mx-3 rounded  text-center ">Voltar</a>
                </div>
            </div>
           
        </div>
    </div>

    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center card-principal">
            <h2 class="text-2xl font-bold mb-4 font-opens">Deseja excluir esse aluno ?</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-green-500 text-white rounded sim">Sim</button>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded nao">Não</button>
        </div>
    </div>


    <div id="customAlertNotFind"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Aluno não cadastrado.</h2>
            <button id="closeDialog" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>

        <script>
            let deleteButtons = document.querySelectorAll('.deleteButton');
            let customAlert = document.getElementById('customAlert');


            // Itera sobre todos os botões
            deleteButtons.forEach(function (button) {
                // Adiciona um evento de clique a cada botão
                button.addEventListener('click', function (event) {
                    // Impede o comportamento padrão do link
                    event.preventDefault();
                    document.getElementById('customAlert').classList.remove('hidden');
                    document.addEventListener('click', (ev) => {
                        let valorResposta = ev.target
                        if (valorResposta.classList.contains('sim')) {
                            let alunoId = this.getAttribute('data-aluno-id')
                            fetch('/excluir-alunos', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ aluno_id: alunoId })
                        }).then(response => {
                            customAlert.querySelector('h2').innerText = 'Aluno excluido com sucesso'
                            let teste = document.querySelectorAll('#closeDialogBtn')
                            teste.forEach((el) => {
                                el.remove()
                            })
                            let btn = document.createElement('button')
                            btn.innerHTML = `
                            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
                            `
                            customAlert.querySelector('.card-principal').append(btn)
                            
                            btn.addEventListener('click',()=>{
                                window.location.reload()
                            })
                        }).catch(error => {
                            console.error('Erro ao excluir aluno!:', error);
                            customAlert.querySelector('h2').innerText = 'Erro:' + error
                            
                            let teste =  document.querySelectorAll('#closeDialogBtn')
                            teste.forEach((el)=>{
                                el.remove()
                            })
                            let btn = document.createElement('button')
                            btn.innerHTML = `
                            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
                            `
                            customAlert.querySelector('.card-principal').append(btn)
                            
                            btn.addEventListener('click',()=>{
                                window.location.reload()
                            })
                        });
                        }
                        else {
                        if (valorResposta.classList.contains('nao')) {
                            customAlert.classList.add('hidden')
                        }
                    }
                    })
                 

                });
            });

            window.onload = function () {
                let mensagem = "{{ mensagem }}";
                console.log(mensagem)
                if (mensagem == 'False') {
                    document.getElementById('customAlertNotFind').classList.remove('hidden');
                    document.getElementById('closeDialog').addEventListener('click', function () {
                        document.getElementById('customAlertNotFind').classList.add('hidden');
                        window.location.href = '/alunos/pesquisar'

                    });
                }
            }

        </script>
</body>

</html>