<!DOCTYPE html>
<html lang="pt-br" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Turma para Professor</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>

<body class="h-full bg-pagina">
    <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-center p-7">
            <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75" alt="">
        </div>
        <form action="" method="POST"
            class="bg-card w-full sm:w-1/2 h-auto rounded-3xl flex flex-col justify-between items-center">
            <div class=" md:w-full border-t-2 ">
                <div class="border-b-2 border-linhaFora w-full">
                    <h1
                        class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center ">
                        Editar professores
                    </h1>
                </div>
                <div class="w-full grid grid-cols-1 justify-items-center items-center">
                    <label class="w-full sm:w-3/4 font-opens font-bold text-xl" for="data_inicio">Data de
                        Início:</label>
                    <input
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
                        type="date" id="data_inicio" name="data_inicio">

                    <label for="data_fim" class="w-full sm:w-3/4 font-opens font-bold text-xl">Data de Fim:</label>
                    <input
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
                        type="date" id="data_fim" name="data_fim">

                    <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Professor:</label>
                    <div class="autocomplete-container">
                        <input
                            class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
                            list="nomes-datalist-professor" id="nome_professor" name="nome_professor"
                            placeholder="Nome do professor">
                        <div id="autocompleteContainer" class="autocomplete-suggestions hidden" name="professor"></div>
                    </div>
                    <input list="nomes-datalist" type="hidden" id="valor-id-professor" name="id_professor_hidden"
                        value="">

                    <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Turma:</label>
                    <div class="autocomplete-container">
                        <input list="nomes-datalist-turma" id="nome_turma" name="nome_turma"
                            class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm"
                            placeholder="Informe o nome da turma">
                        <div id="autocompleteContainer" class="autocomplete-suggestions hidden " name="turma"></div>
                    </div>
                    <input list="nomes-datalist-turma" type="hidden" id="valor-id-turma" name="id_turma_hidden"
                        value="">


                    <div class="grid grid-cols-1 justify-items-center items-center mt-3">
                        <input type="submit" value="Adicionar "
                            class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3 justify-items-center items-end ">
                <a href="/turmas/professores/pesquisa"
                    class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Visualizar
                    professores</a>
                <a href="/"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
                <a href="javascript:history.back()"
                    class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
            </div>

        </form>
    </div>

    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Para cadastrar um professor a uma turma, todos os campos devem ser
                preenchidos. Verifique se o no campo pessoa e turma, você selecionou um dos nomes.</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

    <div id="customAlertSuccess"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Valor modificado com sucesso!</h2>
            <button id="closeDialogBtnSucces" class="px-4 py-2 bg-green-500 text-white rounded">Fechar</button>
        </div>
    </div>





    <script>
        

        let sugestoesContainer = document.querySelectorAll("#autocompleteContainer");
        let sugestoesContainerProfessor = sugestoesContainer[0]
        let sugestoesContainerTurma = sugestoesContainer[1]
        let id_professor = document.getElementById("valor-id-professor")
        document.getElementById("nome_professor").addEventListener("input", function () {
            let nome = this.value.trim();

            console.log(nome);
            if (nome.length >= 4) {
                sugestoesContainerTurma.querySelectorAll('div').forEach(div => div.remove())
                id_turma.value = ''
                sugestoesContainerProfessor.querySelectorAll('div').forEach(div => div.remove())
                id_professor.value = ''
                fetch("/turmas/professores/nomes/proximos?nome=\"" + nome + "\"", { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        if (sugestoes.length) {
                            sugestoesContainerProfessor.classList.remove('hidden')
                            sugestoes.forEach(name => {
                                const divSugestaoNome = document.createElement('div')
                                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                                divSugestaoNome.textContent = name[0]
                                divSugestaoNome.onclick = () => {
                                    document.getElementById('nome_professor').value = name[0]
                                    id_professor.value = name[1]
                                    sugestoesContainerProfessor.innerHTML = ''
                                    sugestoesContainerProfessor.classList.add('hidden')
                                }
                                sugestoesContainerProfessor.appendChild(divSugestaoNome)
                            })
                        } else {
                            sugestoesContainerProfessor.classList.add('hidden')
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });


            } else {
                sugestoesContainerProfessor.classList.add('hidden')
                sugestoesContainerProfessor.querySelectorAll('div').forEach(div => div.remove())
                id_professor.value = ''
            }
        });

        //seleciona o campo em que o valor do id será inserido
        let id_turma = document.getElementById("valor-id-turma")
        //adiciona um evento no campo nome turma
        document.getElementById("nome_turma").addEventListener("input", function () {
            //pega o valor referente ao objeto chamador, no caso nome_turma e utiliza um trim para retirar espaços
            let nome = this.value.trim();
            //checa se o tamanho do array é maior que 4
            if (nome.length >= 4) {
                //remove todas as opções anteriores 
                sugestoesContainerTurma.querySelectorAll('div').forEach(div => div.remove())
                //reseta o valor do id de turma
                id_turma.value = ''

                //requisição para o endpoint 
                fetch("/turmas/professores/nomes/turmas?nome=\"" + nome + "\"", { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        //resposta com sucesso

                        
                        // variavel que armazena valores nao repetidos
                        let valoresNaoRepetidos = new Set()
                        sugestoes.forEach((valor)=>{
                            //pegar os valores, transformar em string utilizando o json
                            valoresNaoRepetidos.add(JSON.stringify(valor))
                        })
                        //faz o processo reverso na string, retornando a seu formato original
                        let resultadoNomes = Array.from(valoresNaoRepetidos).map(item=>JSON.parse(item))
                        if (sugestoes.length) {
                            sugestoesContainerTurma.classList.remove('hidden')
                            resultadoNomes.forEach(name => {
                                const divSugestaoNome = document.createElement('div')
                                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                                divSugestaoNome.textContent = name[0]
                                divSugestaoNome.onclick = () => {
                                    document.getElementById('nome_turma').value = name[0]
                                    id_turma.value = name[1]
                                    sugestoesContainerTurma.innerHTML = ''
                                    sugestoesContainerTurma.classList.add('hidden')
                                }
                                sugestoesContainerTurma.appendChild(divSugestaoNome)
                            })
                        } else {
                            sugestoesContainerTurma.classList.add('hidden')
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });

            } else {
                sugestoesContainerTurma.classList.add('hidden')
                sugestoesContainerTurma.querySelectorAll('div').forEach(div => div.remove())
                id_turma.value = ''
            }
        });



        let form = document.querySelector('form');
        let customAlertSucces = document.getElementById('customAlertSucces');
        let closeDialogBtnSucces = document.getElementById('closeDialogBtnSucces');
    

        form.addEventListener('submit', (ev) => {
            let professor_id = document.getElementById('valor-id-professor').value
            professor_id = Number(professor_id)
            let turma_id = document.getElementById("valor-id-turma").value
            turma_id - Number(turma_id)
            let dataInicio = document.getElementById('data_inicio');
            let dataFim = document.getElementById('data_fim');
            if (  professor_id === 0 || turma_id === 0 || dataInicio.value.length !== 10 || dataFim.value.length !== 10) {
                document.getElementById('customAlert').classList.remove('hidden')
                ev.preventDefault()
            }
            document.getElementById('closeDialogBtn').addEventListener('click', function () {
                document.getElementById('customAlert').classList.add('hidden');
            });
        })

        window.onload = function () {
            let mensagem = "{{ mensagem }}";
            console.log(mensagem)
            if (mensagem == 'True') {
                document.getElementById('customAlertSuccess').classList.remove('hidden');
                document.getElementById('closeDialogBtnSucces').addEventListener('click', function () {
                    document.getElementById('customAlertSuccess').classList.add('hidden');
                    window.location.href = '/turmas/professores/pesquisa'

                });
            }
        }

    </script>
</body>

</html>