<!DOCTYPE html>
<html lang="pt-br" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>Pesquisar turmas professores</title>
</head>

<body class="h-full bg-pagina">
    <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-center p-7">
            <img src="../../static/img/logo_prefeitura.png" class="h-12 w-75 " alt="">
        </div>
        <form action="/turmas/professores/pesquisa" method="POST"
            class="bg-card w-full sm:w-1/2 h-auto rounded-3xl flex flex-col justify-between items-center">
            <div class="border-b-2 border-linhaFora w-full">
                <h1 class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center">
                    Pesquisar Professores Turma
                </h1>
            </div>
            <div class="w-full grid grid-cols-1 justify-items-center items-center">
                <label for="id_professor" class="w-full sm:w-3/4 font-opens font-bold text-xl">Professor:</label>

                <input list="nomes-datalist" type="hidden" id="valor-id-pessoa" name="id_pessoa_hidden" value="">
                <div class="autocomplete-container">
                    <input list="nomes-datalist" id="nomes" name="nome_professor"
                        class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                        placeholder="Nome do Professor">
                    <div id="autocompleteContainer" class="autocomplete-suggestions hidden"></div>
                </div>

                <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Turma:</label>
                <select id="id_turma" name="id_turma"
                    class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm"
                    placeholder="Nome da Turma">
                    <option value="" class="text-center text-opacity-20"> SALAS</option>
                </select>

                <div class="grid grid-cols-1 justify-items-center items-center mt-3">
                    <input type="submit" value="Pesquisar" id="btn-adicionar"
                        class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
                </div>
                <div class="grid grid-cols-3 justify-items-center items-end ">
                    <a href="/turmas/professores/form"
                        class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Adicionar
                    </a>
                    <a href="/"
                        class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
                    <a href="javascript:history.back()"
                        class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
                </div>
            </div>

        </form>

    </div>
    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Prencha o Campo com um valor válido.</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

    <script>

        let nome_professor = document.getElementById('nomes');
        nome_professor.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z\s]/g, "");
            event.target.value = valoresFiltrados;
        });

        document.querySelector('form').addEventListener('submit', (ev) => {
            let nome_professor = document.getElementById('nomes').value;
            let id_turma = document.getElementById('id_turma').value;
            console.log(id_turma)
            if (nome_professor == "" || id_turma == "") {
                document.getElementById('customAlert').classList.remove('hidden');
                ev.preventDefault();
            }
            document.getElementById('closeDialogBtn').addEventListener('click', function () {
                document.getElementById('customAlert').classList.add('hidden');
            });
        })


        let id_professor = document.getElementById("valor-id-pessoa")
        let id_turma = document.getElementById("id_turma")
        let sugestoesProfessor = document.getElementById('autocompleteContainer')

        document.getElementById("nomes").addEventListener("input", function () {
            let nome = this.value.trim();

            console.log(nome);
            if (nome.length >= 4) {
                sugestoesProfessor.querySelectorAll('div').forEach(div => div.remove())
                id_turma.querySelectorAll('option').forEach(div => div.remove())
                fetch("/turmas/professores/proximos?nome=\"" + nome + "\"", { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        /*
                            NESSE TRECHO DE CÓDIGO, TEMOS UMA VERIFICAÇÃO QUE FILTRA OS VALORES QUE SÃO RETORNADOS PELO ENDPOINT, SENDO ASSIM NÃO TEREMOS VALORES REPETIDOS NOS CAMPOS.
                            SUGESTOES ENVIA OS VALORES COMO RESPOSTA, APLICAMOS UM FOREACH PARA VARRER ESSES VALORES RETORNADOS E SUBDIVIDIMOS EM DOIS ARRAYS, UM VAI PARA PROFESSORES E O OUTRO
                            PARA SALAS.
                            APÓS FAZER ISSO CRIAMOS UM OBJETO SET EM JS, RESPONSÁVEL POR EVITAR QUE VALORES REPETIDOS SEJAM INSERIDOS DENTRO DELE.
                            VARREMOS AS SALAS COM UM EACH CONVERTEMOS OS VALORES PARA STRING E ADICIONAMOS NO NEW SET
                            SENDO ASSIM, TEMOS UM OBJETO COM VALORES NÃO REPETIDOS SOBRE SALAS

                            REALIZAMOS O MESMO PROCESSO PRA PROFESSORES, DEPOIS UTILIZAMOS O MÉTODO MAP, QUE PERCORRE UM ARRAY E PARA CADA ITEM CRIA UM NOVO ARRAY UTILIZANDO PARSE DO JSON
                        */
                        let professores = []
                        let salas = []
                        sugestoes.forEach((valor) => {
                            professores.push(valor[1])
                            salas.push([valor[0], valor[2]])
                        })

                        let salasNaoRepetidas = new Set();
                        salas.forEach(sala => {
                            salasNaoRepetidas.add(JSON.stringify(sala));
                        });

                        let professoresNaoRpetidos = new Set()
                        professores.forEach(professor => professoresNaoRpetidos.add(JSON.stringify(professor)))
                        let resultadoSalas = Array.from(salasNaoRepetidas).map(item => JSON.parse(item));
                        let resultadoProfessores = Array.from(professoresNaoRpetidos).map(item => JSON.parse(item));


                        if (sugestoes.length) {
                            sugestoesProfessor.classList.remove('hidden')
                            resultadoSalas.forEach(sala => {
                                const opcao = document.createElement('option')
                                opcao.textContent = sala[0]
                                opcao.value = sala[1]
                                id_turma.append(opcao)
                            })
                            resultadoProfessores.forEach(prof => {
                                const divSugestaoNome = document.createElement('div')
                                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                                divSugestaoNome.textContent = prof
                                divSugestaoNome.onclick = () => {
                                    document.getElementById('nomes').value = prof
                                    sugestoesProfessor.innerHTML = ''
                                    sugestoesProfessor.classList.add('hidden')
                                }
                                sugestoesProfessor.appendChild(divSugestaoNome)
                            })
                        } else {
                            sugestoesProfessor.classList.add('hidden')
                            sugestoesProfessor.querySelectorAll('div').forEach(div => div.remove())

                        }
                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });
            } else {
                sugestoesProfessor.classList.add('hidden')
                sugestoesProfessor.querySelectorAll('div').forEach(div => div.remove())
                id_turma.querySelectorAll('option').forEach(div =>div.remove())
            }

        });    
    </script>
</body>

</html>