<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa</title>
</head>
<body>
    <h1>Resultado da Pesquisa</h1>
    <table border="1">
        <thead>
            <tr>
                
                <th>Curso</th>
                <th>Secretaria</th>
                <th>Descrição do curso</th>
                <th>Ajustar</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            
            <tr>
                <td>{{ curso.nome_curso }}</td>
                <td>{{ curso.nome_secretaria }}</td>
                <td>{{ curso.curso_descricao }}</td>
                <td><a href="/editar-valores-cursos/{{curso.curso_id}}">Editar</a></td>
                <td><a class="deleteButton" data-curso-id="{{ curso.curso_id }}" href="#">Excluir</a></td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
    <a href="/cursos-form">Adicionar Curso</a> <br>
    <a href="/">Menu</a> <br>
    <a href="javascript:history.back()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">Voltar</a>
    

    <script>
        let deleteButtons = document.querySelectorAll('.deleteButton');
        
        
        // Itera sobre todos os botões
        deleteButtons.forEach(function(button) {
          // Adiciona um evento de clique a cada botão
          button.addEventListener('click', function(event) {
            // Impede o comportamento padrão do link
            event.preventDefault();

            let confirmarExclusao = confirm('Deseja relamente excluir esse curso')
            if(confirmarExclusao){
               // Pega o ID da secretaria do atributo 'data-secretaria-id' do botão clicado
            let cursoId = this.getAttribute('data-curso-id');
            // Envia o ID da secretaria para o servidor Flask
            fetch('/excluir-cursos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({curso_id: cursoId})
            }).then(response => {
                // Lida com a resposta do servidor, se necessário
                console.log(response)
                alert('curso excluido com sucesso')
                // Voltando para o início
                window.location.href = '/';
            }).catch(error => {
                console.error('Erro ao excluir Curso:', error);
            });
            }else{
              console.log('exclusão cancelada')
            }
           
          });
        });
    </script>
</body>
</html>