<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <table>
        <thead>
            <tr>
              
                <th>RA</th>
                <th>Status</th>
                <th>ID Pessoa</th>
                <th>ID Secretaria</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
               
                <td>{{ aluno.ra_aluno }}</td>
                <td>{{ aluno.status }}</td>
                <td>{{ aluno.nome_aluno }}</td>
                <td>{{ aluno.nome_secretaria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
