<!DOCTYPE html>
<html lang="pt-br">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Aluno</title>
</head>

<body>

    <h1>Adicionar Novo Aluno</h1>
    <form action="/alunos" method="POST">
        <label for="ra">RA:</label>
        <input type="text" id="ra" name="ra" maxlength="6"><br><br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="1" selected>Ativo</option>
            <option value="0">Inativo</option>
        </select><br><br>
        <label for="id_pessoa">Pessoa:</label>
        <input list="nomes-datalist" id="nomes" name="">
        <datalist id="nomes-datalist">
            <option value="" style="display: none;">1</option>
        </datalist>
        <label for="id_secretaria">Secretaria:</label>
        <select id="id_secretaria" name="id_secretaria">
            {% for secretaria in secretarias %}
            <option value="{{ secretaria.id }}">{{ secretaria.nome }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Adicionar Aluno">
    </form>

    <script>

        let input = document.getElementById('ra')
        input.addEventListener('input', (event) => {
            let input = event.target.value
            if (isNaN(input)) {
                event.target.value = input.slice(0, 0)
            }
        })

        //Lógica para mostrar uma lista com sugestões de nomes próximos ao valor que está sendo inserido no input
        document.getElementById("nomes").addEventListener("input", function () {
            let nome = this.value.trim();
            let sugestoesDatalist = document.getElementById("nomes-datalist");
            console.log(sugestoesDatalist)
            console.log(nome);
            if (nome.length === 4) {
                fetch("/nomes-proximos?nome=" + nome, { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        console.log(sugestoes)
                        
                        sugestoesDatalist.innerHTML = ""; // Limpar sugestões anteriores

                        sugestoes.forEach(function (sugestao) {
                            let sugestaoElemento = document.createElement("option");
                            sugestaoElemento.id = sugestao[0]
                            sugestaoElemento.value = sugestao[1];
                            sugestoesDatalist.appendChild(sugestaoElemento);
                        });

                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });
                    sugestoesDatalist.addEventListener('click', (ev)=>{
                        console.log(ev)
                    })

            } else {
                console.log('Valor não encontrado')
            }

        });
    </script>


</body>

</html>