<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa</title>
</head>
<body>
    <h1>Resultado da Pesquisa</h1>
    <table border="1">
        <thead>
            <tr>
                
                <th>Nome</th>
                <th>RA</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Ajustar</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            
            <tr>
                <td style="display: none;">{{ aluno.id }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.ra }}</td>
                <td>{{ aluno.cpf }}</td>
                <td>{{ aluno.data_nasc }}</td>
                <td><a href="/editar-valores-alunos/{{ aluno.id }}">Editar</a></td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>