<!-- planos-form.html -->
<!DOCTYPE html>
<html lang="pt-br" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Plano de Aula</title>
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
</head>

<body class="h-full bg-pagina">
    <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-center p-7">
            <img src="/../static/img/logo_prefeitura.png" class="h-12 w-75" alt="">
        </div>
        <form action="" method="POST" class="bg-card w-full sm:w-1/2 h-auto rounded-3xl flex flex-col justify-between items-center">
            <div class="md:w-full border-t-2">
                <div class="border-b-2 border-linhaFora w-full">
                    <h1
                        class="text-3xl font-opens font-bold text-adc border-b-2 border-linhaForm  w-full p-7 text-center ">
                        Editar Plano de Aula
                    </h1>
                </div>
                <div class="w-full grid grid-cols-1 justify-items-center items-center">
    
                </div>
            </div>
            <label for="data" class="w-full sm:w-3/4 font-opens font-bold text-xl">Data:</label>
            <input type="date" id="data" name="data" class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm">
    
            <label for="conteudo" class="w-full sm:w-3/4 font-opens font-bold text-xl">Conteúdo:</label><br>
            <textarea id="conteudo" name="conteudo" rows="4" cols="50" class="w-full sm:w-3/4 h-56 resize-none p-5   bg-bg_input font-opens rounded-md border-b-2 text-start border-linhaForm focus:outline-none focus:ring focus:ring-linhaForm" placeholder="Informe o plano de aula do dia"></textarea>
    
            <label for="id_turma" class="w-full sm:w-3/4 font-opens font-bold text-xl">Nome da Turma:</label>
            <div class="autocomplete-container">
                <input list="nomes-datalist-turma" id="nome_turma" name="nome_turma" class="w-full sm:w-3/4 bg-bg_input font-opens h-12 rounded-md border-b-2 text-center border-linhaForm   focus:outline-none focus:ring focus:ring-linhaForm" placeholder="Informe o nome da Turma">
                <div id="autocompleteContainer" class="autocomplete-suggestions hidden" name="plano_aula" ></div>
            </div>
           
            <input list="nomes-datalist-turma" type="hidden" id="valor-id-turma" name="id_turma_hidden" value="">
    
    
            <div class="grid grid-cols-1 justify-items-center items-center mt-3">
                <input type="submit" value="Adicionar" id="btn-adicionar"
                    class="rounded-e-2xl text-lg rounded-s-2xl font-opens text-white bg-adc w-48 h-12 pl-5 pr-5 hover:bg-blue-700 hover:cursor-pointer">
            </div>
            <div class="grid grid-cols-3 justify-items-center items-end ">
                <a href="/planos/aula/pesquisa"
                    class="bg-adc hover:bg-blue-700 text-white font-bold p-2 m-10 rounded text-center">Pesquisar</a>
                <a href="/"
                    class="bg-adc hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-10 text-center">Menu</a>
                <a href="javascript:history.back()"
                    class="bg-adc hover:bg-blue-700 text-white font-bold m-10 py-2 px-4 rounded text-center">Voltar</a>
            </div>
        </form>
    </div>
    <div id="customAlert"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Prencha o Campo com um valor válido.</h2>
            <button id="closeDialogBtn" class="px-4 py-2 bg-red-500 text-white rounded">Fechar</button>
        </div>
    </div>

    <div id="customAlertSuccess"
        class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center  rounded-e ">
        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md text-center">
            <h2 class="text-2xl font-bold mb-4 font-opens">Cadastro realizado com sucesso!</h2>
            <button id="closeDialogBtnSucces" class="px-4 py-2 bg-green-500 text-white rounded">Fechar</button>
        </div>

    </div>

    <script>
           let conteudo = document.getElementById('conteudo')
         document.querySelector('form').addEventListener('submit', (ev) => {
            let data = document.getElementById('data').value;
            let nome_turma = document.getElementById('valor-id-turma').value;
            nome_turma = Number(nome_turma)
            if (data.length !== 10 || conteudo.value == '' || nome_turma == 0) {
                document.getElementById('customAlert').classList.remove('hidden')
                ev.preventDefault()
            } 
            document.getElementById('closeDialogBtn').addEventListener('click', function () {
                document.getElementById('customAlert').classList.add('hidden');
            });
        })

        conteudo.addEventListener('input', (event) => {
            let valoresFiltrados = event.target.value.replace(/[^a-zA-Z\s]/g, "");
            event.target.value = valoresFiltrados;
        });

        let sugestoesContainer = document.getElementById('autocompleteContainer')
        let id_turma = document.getElementById("valor-id-turma")
        document.getElementById("nome_turma").addEventListener("input", function () {
            let nome = this.value.trim();

            console.log(nome);
            if (nome.length >= 4) {
                sugestoesContainer.querySelectorAll('div').forEach(div => div.remove())
                id_turma.value = ''
                fetch("/matricula/pesquisar/nome/turma?nome=\"" + nome + "\"", { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        console.log(sugestoes)
                        if (sugestoes.length) {
                            sugestoesContainer.classList.remove('hidden')
                            sugestoes.forEach(name => {
                                const divSugestaoNome = document.createElement('div')
                                divSugestaoNome.classList.add('autocomplete-suggestion', 'w-full', 'sm:w-full', 'bg-bg_input', 'text-start', 'font-opens', 'text-black', 'border-b-2', 'border-gray-300')
                                divSugestaoNome.textContent = name[0]
                                divSugestaoNome.onclick = () => {
                                    document.getElementById('nome_turma').value = name[0]
                                    id_turma.value = name[1]
                                    sugestoesContainer.innerHTML = ''
                                    sugestoesContainer.classList.add('hidden')
                                }
                                sugestoesContainer.appendChild(divSugestaoNome)
                            })
                        } else {
                            sugestoesContainer.classList.add('hidden')
                        }


                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });


            } else {
                sugestoesContainer.querySelectorAll('div').forEach(div => div.remove())
                id_turma.value = ''
            }
        });


        window.onload = function () {
            let mensagem = "{{ mensagem }}";
            console.log(mensagem)
            if (mensagem == 'True') {
                document.getElementById('customAlertSuccess').classList.remove('hidden');
                document.getElementById('closeDialogBtnSucces').addEventListener('click', function () {
                    document.getElementById('customAlertSuccess').classList.add('hidden');
                    window.location.href = '/planos/form'

                });
            }
        }
    </script>
</body>

</html>