<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Pesquisar Plano de Aula</h1>
  <form action="/resultados-pesquisa-plano-aula" method="POST">
    <label for="data">Data:</label>
    <input type="date" id="data" name="data"><br><br>

    <label for="id_turma">Nome da Turma:</label>
    <input list="nomes-datalist-turma" id="nome_turma" name="nome_turma">
    <input list="nomes-datalist-turma" type="hidden" id="valor-id-turma" name="id_turma_hidden" value="">
    <datalist id="nomes-datalist-turma"></datalist><br><br>

      <input type="submit" value="Pesquisar matriculas">
  </form>


  <script>
    document.querySelector('form').addEventListener('submit', (ev) => {
            let valor_id_turma = document.getElementById('valor-id-turma').value;
            let data = document.getElementById('data').value;
            if (valor_id_turma || data !== "") {

            } else {
                alert('Os campos de pesquisa necessitam conter algum valor para que ocorra a pesquisa');
                ev.preventDefault();
            }
        })


     document.querySelector('form').addEventListener('submit', (ev) => {
            let data = document.getElementById('data').value;
            let nome_turma = document.getElementById('valor-id-turma').value;
            if (conteudo && data && nome_turma !== "") {
              
            } else {
                alert('Ao menos um campo deve conter valor para que ocorra a pesquisa!');
                ev.preventDefault();
            }
        })

        let id_turma = document.getElementById("valor-id-turma")
        document.getElementById("nome_turma").addEventListener("input", function () {
            let nome = this.value.trim();

            console.log(nome);
            if (nome.length >= 4) {
                fetch("/pesquisando-nome-turma-matricula?nome=\"" + nome + "\"", { // Correção da URL
                    method: "POST", // Correção do método de solicitação
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ nome: nome })
                })
                    .then(response => response.json())
                    .then(sugestoes => {
                        let sugestoesProfessores = document.getElementById("nomes-datalist-turma");
                        sugestoesProfessores.innerHTML = ""; // Limpar sugestões anteriores
                        let valoresUnicos = new Set();
                        console.log(sugestoes)


                        sugestoes.forEach(function (sugestao) {
                            valoresUnicos.add(sugestao[0]); // Adicionar apenas o primeiro elemento da tupla (nome)
                            valoresUnicos.add(sugestao[1]); // Adicionar apenas o primeiro elemento da tupla (nome)
                        });
                        console.log(valoresUnicos)

                        valoresUnicos.forEach(function (valor) {
                            let sugestaoElemento = document.createElement("option");
                            sugestaoElemento.value = valor;
                            sugestoesProfessores.appendChild(sugestaoElemento);
                            id_turma.value = valor
                        });;


                    })
                    .catch(error => {
                        console.error("Erro ao obter sugestões de pessoas:", error);
                    });


            } else {
                console.log('Valor não encontrado')
            }
        });
  </script>
</body>
</html>